.Container {
    border-radius: 15px;
    width: 60%;
    min-width: 606px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.Container header {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;


}
.Container footer {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Container footer a{
    margin-top: 2px;
    margin-bottom: 3px;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    width: 25%;
    box-shadow: 0 1px 0px rgba(0,0,0,0.12);
    transition: all .2s;
    outline: none;
}
.Container footer a:active{
    margin-top: 4px;
    margin-bottom: 0px;
    box-shadow: none;
}

.Container img{
    width: 30px;
}
/* 149px */
.TipClosed{ 
    height: 0px;
    transition-property: all;
    transition-duration: .4s;
}
.TipOpened{ 
    height: 149px;
    width: fit-content;
    margin: 0 auto;
    transition-property: all;
    transition-duration: .4s;
}
ul {
    padding: 0;
    text-align: justify;
    list-style: none;
}
.TipOpened img{
    width: 15px;
}
.TipSwitcher{
    line-height: .2;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    padding: 10px 30px;
    border-radius: 10px;
    transition-property: background;
    transition-duration: .4s;
    width: 50%;
    margin: 0 auto;
}
.TipSwitcher:hover, 
.TipSwitcher:active{
    background-color: rgb(207, 207, 207);
}

.HeaderCheckFormPassive{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 103px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: height;
    transition-duration: .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.HeaderCheckFormActive{
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 146px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: height;
    transition-duration: .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.HeaderCheckFormActive h2, .HeaderCheckFormPassive h2{
    cursor: pointer;
}

.HeaderShareFormPassive h2, .HeaderShareFormActive h2{
    cursor: pointer;
}

.HeaderShareFormPassive{
    background-color: white;
    box-sizing: border-box;
    max-height: 103px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: max-height;
    transition-duration: .35s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.HeaderShareFormActive{
    background-color: white;
    box-sizing: border-box;
    max-height: 1000px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: max-height;
    transition-duration: .35s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* 393px */
/* 72px */

@media (max-width: 376px) {
    .Container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        font-size: 20px;
        margin-top: 90px;
        border: none;
        z-index: 2;
        min-height: 87vh;
    }
    .Container header {
        box-sizing: border-box;
        padding: 5px;
    }
    .Container header h1{
        margin: 5px 0;
    }
    .TipClosed{ 
        height: 0px;
        position: absolute;
        left: 0;
        top: -1500px;
        width: 100%;
        transition: all .6s;
        z-index: 15252233;
    }
    .TipOpened{ 
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 90px;
        background-color: white;
        height: fit-content;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        line-height: 1;
        transition: all .6s;
        z-index: 15252233;
    }
    .TipOpened::after{ 
        content: "";
        position: absolute;
        left: 0;
        top: 395px;
        height: 1000vh;
        width: 100%;
        opacity: .2;
        background: black;
        transition: all .6s;        
        z-index: 15251;
    }
    ul {
        text-align: justify;
        list-style: none;
    }
    .TipOpened img{
        display: none;
    }
    .TipSwitcher{
        box-sizing: border-box;
        border-radius: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        text-align: center;
        padding: 15px 0;
        z-index: 100;
        cursor: pointer;
        background: rgb(228, 228, 228);
        transition-property: background;
        transition-duration: .4s;
    }
    .TipSwitcher:hover, 
    .TipSwitcher:active{
        background: rgb(228, 228, 228);
    }

    .HeaderCheckFormActive h2, .HeaderCheckFormPassive h2{
        cursor: pointer;
        font-size: 20px;
    }
    
    .HeaderShareFormPassive h2, .HeaderShareFormActive h2{
        cursor: pointer;
        font-size: 20px;
    }
    
    .HeaderCheckFormPassive{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px;
        margin: 5px ;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    
    .HeaderCheckFormActive{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px;
        margin: 5px ;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .HeaderShareFormPassive{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px;
        margin: 5px ;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .HeaderShareFormActive{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px;
        margin: 5px ; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
    }
    .Container footer {
        margin-top: 10px;
        word-wrap: break-word;
        box-sizing: border-box;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .Container footer a{
        padding: 15px 2px;
        word-wrap: break-word;
        font-size: 13px;
        border-radius: 15px;
        width: 30%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
        transition: all .2s;
        outline: none;
    }
    
    .FingerPrint{
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.2;
    }
}