.container {
    min-width: 606px;

}

.header {
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 2px rgba(0,0,0,0.16);

}
.footer{
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 15px;
}
.container img{
    width: 30px;
}
.paragraphMain{
    font-size: 18px;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
}
.paragraph{
    text-align: end;
    width: 80%;
}

a{
    margin: 0 auto;
    text-decoration: none;
    border-radius: 15px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 3px 2px rgba(0,0,0,0.16);
    transition: all .2s;
}
a:active, a:hover{
    background-color: rgb(230, 228, 228);
    color: black;
}
a:visited {
    color: black;

}
@media (max-width: 376px) {
    .header {
        box-sizing: border-box;
        width: 100%;
    }
    .footer{
        box-sizing: border-box;
        width: 100%;
    }
    a {
        margin-bottom: 15px;
    }
}
