::-webkit-scrollbar {
    width: 10px;
    position: fixed;
    z-index: 10000;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgb(248, 248, 248); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(192, 192, 192); 
  }
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(128, 128, 128);   
}

.CheckFormContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CheckFormInput{
    width: 100%;
}
.RestrictWidth {
    width: 100%;
    display: flex;
}
.CheckFormSearch{
    
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    height: 42px;
    border: 1px solid rgb(214, 214, 214);
    border-right: none;
    font-size: inherit;
}
.CheckFormSubmit{
    height: 42px;
    width: 10%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid rgb(214, 214, 214);
    border-left: none;

    transition: all .2s;
    outline: none;
}
.CheckFormSubmit:hover{
    background-color: rgb(235, 235, 235);
}
.CheckFormOutput{
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    align-items: center;

}
.Comment {

    border-radius: 5px;
    word-wrap: break-word;
    width: 90%;
    margin: 5px 0;
    padding: 5px;
    background-color: rgb(238, 238, 238);
}
.CommentSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin: 10px 0;
    padding: 0px 0px 19px 10px;
    max-height: 503px;
    overflow-y:scroll;
}

.CheckFormOutput h3{
    cursor: pointer;
}
.CheckFormOutputHeader{
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
}
.CheckFormOutputHeaderSwitcher{
    width: 65%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(228, 228, 228);
}
.HeaderCheckFormListOpened{
    background-color: white;
    box-sizing: border-box;
    max-height: 287px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: max-height;
    transition-duration: .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.HeaderCheckFormListHeaderOpened{
    background-color: white;
    box-sizing: border-box;
    max-height: 819px;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    transition-property: max-height;
    transition-duration: .2s;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.HeaderCheckFormListOpened h2, .HeaderCheckFormListHeaderOpened h2{
    cursor: pointer;
}

@media (max-width: 376px) {
    .HeaderCheckFormListOpened{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        margin: 5px 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .HeaderCheckFormListHeaderOpened{
        background-color: white;
        height: fit-content;
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
        padding: 15px;
        margin: 5px 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .HeaderCheckFormListOpened h2, .HeaderCheckFormListHeaderOpened h2{
        cursor: pointer;
        font-size: 20px;
    }
    .CheckFormSearch{
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        height: 35px;
        font-size: 16px;
        width: 60%;

    }
    .CheckFormSubmit{
        height: 35px;
        width: 20%;
        font-weight: bold;
    }
    .CheckFormOutputHeaderSwitcher{
        width: 80%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(228, 228, 228);
        font-size: 14px;
    }
    .CommentSection{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(248, 248, 248);
        border-radius: 5px;
        margin: 10px 0;
        padding: 0px 0px 19px 10px;
        max-height: 503px;
        overflow-y:scroll;
        font-size: 14px;

    }
}